/* Color pallete */

$dark-primary: #E64A19;
$primary: #FF5722;
$light-primary: #FFCCBC;
$text: #FFFFFF;
$accent: #795548;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

/* End Color pallete */
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.separator-1{
  padding: 1rem 0;
}
.separator-2{
  padding: 1rem 0;
}
.search-main{
  background: $primary;
  color: $text;
  text-align: center;
  margin: 0 auto;
}
.search-title{
  h1{
    font-size: 2.5rem;
    padding: 1rem 0;
    letter-spacing: .25rem;
  }
}
nav{
  background: url('../img/cover.jpg');
  background-size: cover;
  background-position: 50%;
  font-size: larger;
  @media screen and (min-width: 468px){
    font-size: xx-large;
  }
}
.search-form-input{
  background: inherit;
  color: $text;
  border: none;
  outline: none;
  border-bottom: .1rem solid $text;
  &::-webkit-input-placeholder{
    color:$text;
    padding-bottom: .2rem;
    letter-spacing: .05rem;
  }
}
.search-rnd{
  a{
    color: inherit;
    text-decoration: none;
  }
}
.btn{
  cursor: pointer;
}
input[type="submit"]{
  color: $primary;
background: $text;
border: none;
outline: none;
padding: 3px 20px 3px 20px;
border-radius: 6px;
}

/* Begin Search Results */
.panel {
  padding: 1rem 3rem;
}
.heading, .body, .footer{
  padding: .5rem 0;
}
.title{
  color: $primary;
}
.more a{
  text-decoration: none;
  color: $accent;
}

.search-start{
  min-height: 100vh;
}

.main-footer{
  background: $primary;
  color: $text;
  padding: 3rem;
  text-align: center;
  strong{
    color: $primary-text;
  }
}
/* End Search Results */
